@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #99EEE8;
  
}

.pink-gradient{
  background-color: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter:blur(900px);
}